* {
    font-family: sans-serif;
    text-align: left;
}

h1 {
    text-align: center;
    padding: .2em;
    margin: 0%;
}

body {
    background-color: snow;
}

div {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    padding: 0.5rem;
    background:#C2d2c2;
}

.turnRed {
    color:#d21404
}

